*.iml
.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
ios/.generated/
packages
.classpath
.project
.settings
.vscode
testing
pubspec.lock
android/local.properties
example/ios/Flutter/flutter_export_environment.sh
